<h1> Sign In or Sign Up to View/Edit the Most Delicious-est Sandwiches Evaaa! </h1>

<%= link_to "Sandwiches", sandwiches_path %> <br>
<%= link_to "Log In", new_user_session_path %> <br>
<%= link_to "Sign Up", new_user_registration_path %> 
<br>
<br>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>