<h1> New Post </h1>

<h2> Add a New Post </h2>

<form action="/new_post" method="post">
  <input type="text" name="Title" placeholder="Title">
<input type="text" name="post_content" placeholder="PostContent">
<input type="text" name="author" placeholder="Author">
<input type="text" name="category" placeholder="Category">
  <button type="submit">
    Add post
  </button>
</form>

