<h1> Welcome to the Real Deal Movie Reel Trivia Extravaganza </h1>

<h3>Search for Any Word to Kick Off the Best Trivia Experience You've Ever Experienced</h3>

<form action="/search" method="post">
  <input type="text" name="Movie_Search" placeholder="tyoe any word to begin">
  <button type="submit">
    Blast Off
  </button>
</form>