<h1> Hello World! </h1>

	<ul> 
	<li> <a href="/hi"> Hi Page </a></li>
	<li> <a href="/about"> About </a></li>
	<li> <a href="/recipe"> Recipe </a></li>
	<li> <a href="/users/josh"> Profile: Josh </a></li>
	<li> <a href="/users/stylesJ"> Profile: stylesJ </a></li>
	<li> <a href="/party"> Shall We Party?! </a></li>
	</ul>