<h2> Here is the text you submitted! </h2>

<h6> Word count: <%= @wordcount %> </h6>
<h4> Est. reading time (minutes): <%= @read_time %> </h4>

<h3> <%= @text %> </h3>

<p> These are the most frequently used words in your text:</p>
<p> <%= @top_words %> </p>
